<hr>
<footer class="grid-x align-justify">
    <div class="cell large-6">
        <a href="https://rrchnm.org"><img src="{{ site.baseurl }}/assets/img/rrchnm-logo.png" alt="RRCHNM logo"></a>
        <a href="https://gmu.edu"><img src="{{ site.baseurl }}/assets/img/gmu-logo.jpg" alt="GMU logo"></a>
        <p>This publication is licensed <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC-BY-NC-ND</a>.</p>
    </div>
    <div class="cell large-6">
        <p><em>Current Research in Digital History</em> is published by <a href="https://rrchnm.org">RRCHNM</a> at <a href="https://gmu.edu">George Mason University</a> and funded by <a href="https://advancement.gmu.edu/ihm02">donations to the RRCHNM Director’s Fund</a>.</p>
        <p>ISSN 2637-5923</p>
    </div>
</footer>

{% include foot.html %}
