---
layout: default
---

<div class="grid-container">
    <div class="grid-x">
        <div class="large-9 columns" id="article-list">
            <h2>Current Issue: Volume {{ site.current_number}} ({{ site.current_volume }})</h2>
            {% assign current_essays = site.essays | where:'category',site.current_volume %}
            {% for essay in current_essays %}
              {% assign essay_index = forloop.index %}
              <div class="essay clearfix media-object stack-for-small">
                  <div class="media-object-section">
                      <div class="thumbnail">
                          <a href="{{ essay.url }}">
                            <img src="{{ essay.preview }}" alt="Preview image for {{ essay.title }}">
                          </a>
                      </div>
                  </div>
                  <div class="media-object-section">
                      {% if essay.subtitle %}
                      <h3><a href="{{ essay.url }}">{{ essay.title }}: {{ essay.subtitle }}</a></h3>
                      {% else %}
                      <h3><a href="{{ essay.url }}">{{ essay.title }}</a></h3>
                      {% endif %}
                      <span class="author">
                      {% for author in essay.authors %}
                      {% assign author_index = forloop.index %}
                      {% if essay.authors.size == 1 %}
                      {{author.first }} {{ author.last }}
                      {% elsif essay.authors.size == 2 %}
                      {{author.first }} {{ author.last }}{% if author_index == 1 %} and {% endif %}
                      {% elsif essay.authors.size >= 2 %}
                      {% assign author_index_two = author_index | plus: 1 %}
                      {{author.first }} {{ author.last }}{% if author_index == essay.authors.size %}{% elsif author_index_two == essay.authors.size %}, and {% else %},{% endif %}
                      {% endif %}
                      {% endfor %}
                      </span>
                      {% if essay.abstract %}
                      <button class="button secondary small" type="button" data-toggle="abstract-{{ essay_index }}">Abstract</button>
                      <div class="abstract" id="abstract-{{ essay_index }}" data-toggler data-animate="fade-in fade-out">{{ essay.abstract }}</div>
                      {% endif %}
                  </div>
              </div>
              <hr>
            {% endfor %}
        </div>
        <aside class="large-2 large-offset-1 columns" id="volume-list">
            <h4>All Volumes</h4>
            {% for volume in site.data.volumes %}
            <div class="volume">
                <span class="volume-number">{{ forloop.index }}</span>
                <a href="{{ site.baseurl }}/volume/{{ volume.title }}/">
                <img src="assets/img/{{ volume.img_dir }}/cover-bw.jpg" alt="Cover for Volume {{ volume.volume }} {{ volume.title }}">
                <img src="assets/img/{{ volume.img_dir }}/cover-color.jpg" alt="Cover for Volume {{ volume.volume }} {{ volume.title }}">
                </a>
            </div>
            {% endfor %}
        </aside>
    </div>
</div>
