---
layout: default
---

<main class="grid-x">
    <article class="essay large-8 large-offset-2 medium-10 medium-offset-1 small-10 small-offset-1 cell">
        <header class="essay-header">
            <span class="author">
                {% for author in page.authors %}
                    {% assign author_name = author.first | append: ' ' | append: author.last %}
                    {% if forloop.index > 1 and page.authors.size > forloop.index %}
                        ,
                    {% elsif forloop.index > 1 and page.authors.size == forloop.index %}
                        and
                    {% endif %}
                    {% if author.url.size > 0 %}
                        <a href="{{ author.url }}">{{ author_name }}</a>
                    {% else %}
                        {{ author_name }}
                    {% endif %}
                {% endfor %}
            </span>
            <h2>
                {{ page.title }}
                {% if page.subtitle and page.subtitle != blank %}
                <br><small>{{ page.subtitle }}</small>
                {% endif %}
            </h2>
            <span class="meta">from volume {{ page.volume-number }} ({{ page.category }}), <a href="{[ page.doi }}">{{ page.doi }}</a></span>
        </header>
        <section class="abstract callout">
            <h3>Abstract</h3>
            <div class="abstract-contents">
                {{ page.abstract }}
            </div>
        </section>
        {{ content }}
        {% if page.appendix.size >= 1 %}
        <hr>
        {% if page.appendix.size >= 2 %}
        <h3 id="appendix">Appendices</h3>
        {% else %}
        <h3 id="appendix">Appendix</h3>
        {% endif %}
        <ul>
        {% for item in page.appendix %}
            <li><a href="{{ site.appendices }}/{{ item.file }}" download>{{ item.name }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
        <hr>
        {% if page.authors.size > 1 %}
        <h3 id="author">Authors</h3>
        {% else %}
        <h3 id="author">Author</h3>
        {% endif %}
        <p>
        {% for author in page.authors %}
            {% assign author_name = author.first | append: ' ' | append: author.last %}
            {% if author.url.size > 0 %}
                <a href="{{ author.url }}">{{ author_name }}</a>,
            {% else %}
                {{ author_name }},
            {% endif %}
            {{ author.affiliation }}, <a href="mailto: {{ author.email }}">{{ author.email }}</a>, <a href="http://orcid.org/{{ author.orcid }}"><img src="{{ site.url }}/assets/img/orcid-logo.png" alt="ORC ID logo" class="orcid">{{ author.orcid }}</a>{% if forloop.index != page.authors.size %};{% endif %}
        {% endfor %}
        </p>
    </article>
</main>
