---
layout: default
---

<div class="grid-container">
    <div class="grid-x" aria-role="main">
        <div class="large-9 columns" id="article-list">
            <h2>Volume {{ page.volume }}</h2>
            {% assign volume_essays = site.essays | where:'category',page.volume %}
            {% for essay in volume_essays %}
              {% assign essay_index = forloop.index %}
              <div class="essay clearfix media-object stack-for-small">
                  <div class="media-object-section">
                      <div class="thumbnail">
                          <img src="{{ essay.preview }}">
                      </div>
                  </div>
                  <div class="media-object-section">
                      <h3><a href="{{ essay.url }}">{{ essay.title }}</a></h3>
                      <span class="author">
                      {% for author in essay.authors %}
                          {% assign author_index = forloop.index %}
                          {% if author_index > 1 and essay.authors.size > author_index %}
                              ,
                          {% elsif author_index > 1 and essay.authors.size == author_index %}
                              and
                          {% endif %}
                              {{ author.first }} {{ author.last }}
                          {% else %}
                          {{ essay.author }}
                      {% endfor %}
                      </span>
                      {% if essay.abstract %}
                      <button class="button secondary small" type="button" data-toggle="abstract-{{ essay_index }}">Abstract</button>
                      <div class="abstract" id="abstract-{{ essay_index }}" data-toggler data-animate="fade-in fade-out">{{ essay.abstract }}</div>
                      {% endif %}
                  </div>
              </div>
              <hr>
            {% endfor %}
        </div>
        <aside class="large-2 large-offset-1 columns" id="volume-list">
            <h4>All Volumes</h4>
            {% for volume in site.data.volumes %}
            <div class="volume">
                <span class="volume-number">{{ forloop.index }}</span>
                <a href="{{ site.baseurl }}/volume/{{ volume.title }}">
                <img src="{{ site.baseurl }}/assets/img/{{ volume.img_dir }}/cover-bw.jpg" alt="Cover for Volume {{ volume.volume }} {{ volume.title }}">
                <img src="{{ site.baseurl }}/assets/img/{{ volume.img_dir }}/cover-color.jpg" alt="Cover for Volume {{ volume.volume }} {{ volume.title }}">
                </a>
            </div>
            {% endfor %}
        </aside>
    </div>
</div>
